.btn {
  border-radius: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms ease-in-out;

  &:hover {
    background-color: #e5e7eb;
  }

  &:disabled,
  &[disabled] {
    background-color: #e5e7eb;
    color: #9ca3af;
    border-color: #d1d5db;
    cursor: not-allowed;
  }
}
