.custom-input {
  @apply w-full px-3 py-2;
  position: relative;
  background-color: transparent;
  transition: border-color 0.2s ease-in-out;

  border-bottom-width: 2px;
  border-bottom-color: transparent;

  &:focus {
    @apply focus:border-b-blue-500 focus:outline-none;
  }

  &::placeholder {
    @apply text-gray-400;
  }
}
