@import '../styles/components/Button.scss';
@import '../styles/components/Input.scss';
@import '../styles/components/Modal.scss';
@import '../styles/components/TimePicker.scss';

body {
  font-family: 'Pretendard', sans-serif;
  overflow: hidden;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0 !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
}

.rbc-time-header-cell {
  height: 100px;
}

.rbc-time-slot {
  text-align: left;
}
