@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-month_grid {
  table-layout: fixed;
  width: 100%;
}

.rdp-root {
  --rdp-nav-height: 1.8rem;
  --rdp-day-height: 2rem;
  --rdp-day-width: 2rem;
  --rdp-day_button-width: 2rem;
  --rdp-day_button-height: 2rem;
  --rdp-day_button-border-radius: 100%;
}
